{% extends 'template.html.twig' %}

{% block content %}
<div class="well">

    <div class='row'>
      {% for itinerary in itineraries %}
      <p>Result{{loop.index}}</p>
      <p>Depart at: {{itinerary.getStartTime}}</p>
      <p>Arrive at: {{itinerary.getEndTime}}</p>
        <ul>
          {% for leg in itinerary.getLegs %}
          <div class="col-md-12">
            {% if loop.first %}
              <li>{{loop.index}}: {{ leg.getFrom.getDescription }} </li>
              <ul>
                <li>{{leg.getRouteName}}</li>
                <li>Start Time: {{leg.getStartTime}}</li>
                <li>End Time: {{leg.getEndTime}}</li>
              </ul>

            {% endif %}
            {% if not loop.first and not loop.last %}
              <li>{{loop.index}}: {{leg.getTo.getDescription}}</li>
              <ul>
                <li>{{leg.getRouteName}}</li>
                <li>Start Time: {{leg.getStartTime}}</li>
                <li>End Time: {{leg.getEndTime}}</li>
              </ul>
            {% endif %}


            {% if loop.last %}
              {% if leg.getTo.getDescription == "0.0, 0.0" %}
                <li>{{loop.index}}: Walking</li>
              {% else %}
                <li>{{loop.index}}: {{leg.getTo.getDescription}}</li>
              {% endif %}
              <ul>
                <li>{{leg.getRouteName}}</li>
                <li>Start Time: {{leg.getStartTime}}</li>
                <li>End Time: {{leg.getEndTime}}</li>
              </ul>
            {% endif %}
          </div>
          {% endfor %}
        </ul>
      {% endfor %}



</div>

{% endblock %}
