{% extends 'template.html.twig' %}


{% block content %}
{% for itinerary in itineraries %}
    <div class="panel panel-default">
        <div class="panel-heading">Option:</div>
        <div class="panel-body">
            <h3>Start Time: {{ itinerary.getStartTime }}<h3>
                <h3>End Time: {{ itinerary.getEndTime }}</h3>
                <h3>Distance: {{ itinerary.getDistance }} <br></h3>
            </div>
    </div>
    {% for leg in itinerary.getLegs %}
            <p>{{ leg.getDistance }}</p>
        {% endfor %}
    {% endfor %}

    {% for location in locations %}
        <h3>{{location.getDescription}}<br></h3>
    {% endfor %}


{% endblock %}
